# netdata python.d.plugin configuration
#
# This file is in YaML format.
# Generally the format is:
#
# name: value
#

# Enable / disable the whole python.d.plugin (all its modules)
enabled: yes

# ----------------------------------------------------------------------
# Enable / Disable python.d.plugin modules
#default_run: yes
#
# If "default_run" = "yes" the default for all modules is enabled (yes).
# Setting any of these to "no" will disable it.
#
# If "default_run" = "no" the default for all modules is disabled (no).
# Setting any of these to "yes" will enable it.

# Enable / Disable explicit garbage collection (full collection run). Default is enabled.
gc_run: yes

# Garbage collection interval in seconds. Default is 300.
gc_interval: 300

# apache: yes

# apache_cache has been replaced by web_log
# adaptec_raid: yes
# am2320: yes
apache_cache: no
# beanstalk: yes
# bind_rndc: yes
# boinc: yes
# ceph: yes
chrony: {{ chrony_exists | ternary('yes', 'no') }}
# couchdb: yes
# dns_query_time: yes
# dnsdist: yes
dockerd: {{ dockerd_exists | ternary('yes', 'no') }}
dovecot: {{ dovecot_exists | ternary('yes', 'no') }}
# elasticsearch: yes
# energid: yes

exim: no
fail2ban:no 
freeradius:no 
gearman: no 
go_expvar: no

# gunicorn_log has been replaced by web_log
gunicorn_log: no
haproxy: no
# hddtemp: yes
# httpcheck: yes
hpssa: no
icecast: no
# ipfs: yes
# isc_dhcpd: yes
# litespeed: yes
logind: no
# megacli: yes
# memcached: yes
# mongodb: yes
# monit: yes
mysql: no 
nginx: no 
# nginx_plus: yes
# nvidia_smi: yes

# nginx_log has been replaced by web_log
nginx_log: no
# nsd: yes
ntpd: no
# openldap: yes
# oracledb: yes
# ovpn_status_log: yes
# phpfpm: yes
# portcheck: yes
postfix: {{ postfix_exists | ternary('yes', 'no') }}
postgres: no
# powerdns: yes
# proxysql: yes
# puppet: yes
rabbitmq: no
redis: no
# rethinkdbs: yes
# retroshare: yes
# riakkv: yes
samba: no
# sensors: yes
# smartd_log: yes
# spigotmc: yes
# springboot: yes
squid: no
# traefik: yes
# tomcat: yes
# tor: yes
# uwsgi: yes
# varnish: yes
# w1sensor: yes
web_log: yes
