//
// named.conf
//
{{ ansible_managed | comment('c') }}
//
{% for acl in glxclans_dns_acls %}
acl "{{ acl.name }}" {
{% for match in acl.match_list %}
  {{ match }};
{% endfor %}
};

{% endfor %}
options {
  listen-on port 53 { {{ glxclans_dns_listen_ipv4|join(';') }}; };
  listen-on-v6 port 53 { {{ glxclans_dns_listen_ipv6|join(';') }}; };
  directory   "{{ __glxclans_dns_basedir }}";
  dump-file   "{{ __glxclans_dns_basedir }}/data/cache_dump.db";
  statistics-file "{{ __glxclans_dns_basedir }}/data/named_stats.txt";
  memstatistics-file "{{ __glxclans_dns_basedir }}/data/named_mem_stats.txt";
  allow-query     { {{ glxclans_dns_allow_query|join(';') }}; };
{% if glxclans_dns_acls|length != 0 %}
  allow-transfer  { {% for acl in glxclans_dns_acls %}"{{ acl.name }}"; {% endfor %}};
{% endif %}

  recursion {% if glxclans_dns_recursion %}yes{% else %}no{% endif %};
  {% if glxclans_dns_recursion %}allow-recursion { {{ glxclans_dns_allow_recursion|join('; ') }}; };
  {% endif %}
{% if glxclans_dns_forwarders|length > 0 %}forwarders { {{ glxclans_dns_forwarders|join('; ') }}; };{% endif %}
  {% if glxclans_dns_forward_only %}forward only;{% endif %}

  rrset-order { order {{ glxclans_dns_rrset_order }}; };

  dnssec-enable {{ glxclans_dns_dnssec_enable }};
  dnssec-validation {{ glxclans_dns_dnssec_validation }};

  /* Path to ISC DLV key */
  bindkeys-file "/etc/named.iscdlv.key";

  managed-keys-directory "{{ __glxclans_dns_basedir }}/dynamic";

  pid-file "/run/named/named.pid";
  session-keyfile "/run/named/session.key";

{% if bind_query_log is defined %}
  querylog yes;
{% endif %}
};

{% if glxclans_dns_statistics_channels %}
statistics-channels {
  inet {{ glxclans_dns_statistics_host }} port {{ glxclans_dns_statistics_port }} allow { {{ glxclans_dns_statistics_allow|join('; ') }}; };
};
{% endif %}

logging {
  channel default_debug {
    file "{{ __glxclans_dns_log_file }}";
    severity dynamic;
    print-time yes;
  };
{% if bind_query_log is defined %}
  channel querylog {
    file "{{ bind_query_log }}" versions 600 size 20m;
    severity dynamic;
    print-time yes;
  };
  category queries { querylog; };
{% endif %}
};

{% for file in __glxclans_dns_default_zone_files %}
include "{{ file }}";
{% endfor %}
{% for file in glxclans_dns_extra_include_files %}
include "{{ file }}";
{% endfor %}

{% if glxclans_dns_zone_domains is defined %}
{% for bind_zone in glxclans_dns_zone_domains %}
zone "{{ bind_zone.name }}" IN {
  type slave;
  masters { {{ bind_zone_master_server_ip }}; };
  file "slaves/{{ bind_zone.name }}";
{% if bind_zone.delegate is defined %}
  forwarders {};
{% endif %}
};

{% if bind_zone.networks is defined %}
{% for network in bind_zone.networks %}
zone "{{ ('.'.join(network.replace(network+'.','').split('.')[::-1])) }}.in-addr.arpa" IN {
  type slave;
  masters { {{ bind_zone_master_server_ip }}; };
  file "slaves/{{ ('.'.join(network.replace(network+'.','').split('.')[::-1])) }}.in-addr.arpa";
};
{% endfor %}
{% endif %}

{% if bind_zone.ipv6_networks is defined %}
{% for network in bind_zone.ipv6_networks %}
zone "{{ (network | ipaddr('revdns'))[-(9+(network|regex_replace('^.*/','')|int)//2):] }}" IN {
  type slave;
  masters { {{ bind_zone_master_server_ip }}; };
  file "slaves/{{ (network | ipaddr('revdns'))[-(9+(network|regex_replace('^.*/','')|int)//2):-1] }}";
};
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
