[Unit]
Description=GLAuth

[Service]
Restart=always
WorkingDirectory={{ __glauth_config_dir }}

# Compose up
ExecStart={{ __glauth_bin_dir }}/glauth -c {{ __glauth_config_file }}

[Install]
WantedBy=multi-user.target
